body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
}

.pagina {
    margin: auto;
}

.titulo {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: -22px;
}

ul {
    display: none;
    padding-inline-start: 0;
    list-style: none;
    margin-top: 50px;
}

ul:target {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.card {
    padding: 24px 12px;
}

li:hover div.card {
    background-image: linear-gradient(#EEEEEE, #FFF);
}

li button {
    opacity: 0;
    display: flex;
    align-items: center;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.06);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
    margin: auto;
    -webkit-transition: opacity, box-shadow 0.3s; /* Safari */
    transition: opacity, box-shadow 0.3s;
}

li:hover button {
    opacity: 1;
}


li button:hover {
    box-shadow: -6px 0 #80a43e;
}

li button:hover i {
    color: #80a43e;
}

li div {
    margin-bottom: 16px;
}

.imagem {
    text-align: center;
}

.imagem img {
    height: 100px;
}

.nome {
    width: 200px;
    height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preco span:first-of-type {
    font-size: 12px;
}

.preco span:last-of-type {
    font-weight: bold;
    color: rgba(0,0,0,0.74);
    font-size: 16px;
}

.paginacao {
    display: flex;
    justify-content: center;
}

.paginacao a, .paginacao div {
    width: 12px;
    height: 12px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #9E9E9E;
}

.paginacao div:hover {
    cursor: pointer;
}

.paginacao div.selecionado{
    background-color: #263238;
}

@media all and (hover: none) {
    li {
        background-image: linear-gradient(#EEEEEE, #FFF);
    }
    
    li button {
        opacity: 1;
    }
}